.p1 {
    font-size: 50px;
    font-weight: bold;
    font-style: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.p2 {
    font-size: 45px;
    font-weight: 700;
    font-style: oblique;
    font-family: sans-serif;
}
.p3 {
    font-size: 40px;
    font-weight: 800;
    font-style: initial;
    font-family: 'Courier New', Courier, monospace;
}
.p4 {
    font-size: 35px;
    font-weight: bolder;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.p5 {
    font-size: 30px;
    font-weight: 900;
    font-style: oblique;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.p6 {
    font-size: 25px;
    font-weight: 700;
    font-style: inherit;
    font-family: Georgia, 'Times New Roman', Times, serif;
}